<!-- ============= hero start ============= -->
<section class="hero pt-12">
    <div class="container mx-auto flex justify-between items-center py-16">
        <div class="w-1/2 space-y-2">
            <h6 class="text-lg"><em>Are you hungry !</em></h6>
            <h1 class="text-6xl  font-bold pb-8">Don't wait !</h1>
            <button class="btn-primary    px-6 py-2 text-white rounded-full ">
                <em>Order Now</em>
            </button>
        </div>
        <div class="w-1/2">
            <img src="./img/hero-pizza.png" alt="heropng">
        </div>
    </div>
</section>
<!-- ============= hero end ============= -->


<!-- =========== menu start ============== -->
<section class="menu py-8">
    <div class=" container mx-auto ">
        <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
        <div class="grid grid-cols-4 gap-x-12 gap-y-16">
            <% pizzas.forEach((pizza)=> { %>
                <div class="w-64">
                    <img src="/img/<%=pizza.image%>" class="h-40 mx-auto mb-4" alt="">
                    <div class="text-center">
                        <h2 class="text-xl font-bold mb-2">
                            <%= pizza.name %>
                        </h2>
                        <span class="size rounded-full uppercase text-xs py-1 px-4">
                            <%= pizza.size %>
                        </span>
                        <div class="flex items-center justify-around mt-6">
                            <p class="text-lg font-bold">$<%= pizza.price %>
                            </p>
                            <button data-pizza="<%= JSON.stringify(pizza)%>"
                                class="add-to-cart flex items-center py-1 px-6 rounded-full font-bold">
                                <span>+</span>
                                <span class="ml-3">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <% } ) %>
        </div>
    </div>
</section>
<!-- =========== menu end ============== -->